/* Body */
body {
  background-image: url("../images/bg.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* Body end */

/* Navbar */
.navbar-default {
  background-color: #000;
  border-color: #000;
  border-radius: 0px;
}

.navbar-header img {
  padding-top: 5px;
}

.navbar-default .navbar-nav>li>a {
  color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #FFF;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #FFF;
  background-color: #000;
}

.dropdown-menu {
  background: #000;
  color: #FFF;
}

.dropdown-menu>li>a {
  color: #FFF;
  text-align: center;
}

.dropdown-menu > li > a:hover {
  color: #19C0C6;
  background: #000;
}

#signIn {
  background: #19C0C6;
  border-color: #19C0C6;
}

#popUp {
  opacity: 0.95;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:  #fff;
  z-index: 999;
}

#popUp .closePopUp {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  color: #19C0C6;
  text-decoration: none;
}

#popUp.loader {
  background-image: url(../images/ajax_loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

#popUp.loader .container {
  display: none;
}

#popUp .container {
  margin-top: 80px;
}

#popUp h1 {
  margin-bottom: 0;
}

#popUp .popUpAction {
  padding: 10px;
  background-color: #19C0C6;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transform: 0.2s all;
  margin-top: 30px;
  display: inline-block;
}

#popUp .popUpAction:hover {
  color: #FE052C;
  background: #fff;
}

.signing-form {
  max-width: 500px;
  margin: 50px auto;
}

.signing-form input {
  width: 300px;
  padding: 5px 10px;
  border: 1px solid #18B9BF;
  margin-bottom: 5px;
}

.signing-form button {
  width: 300px;
  padding: 5px 10px;
  background: #18B9BF;
  border: 1px solid #18B9BF;
  margin-bottom: 5px;
  color: #FFF;
}
/* Navbar end */

/* Review */
.section-title {
  padding: 0;
  border-bottom: 1px solid #19C0C6;
  color: #19C0C6;
  background: rgba(255,255,255,0.7);
}

.review-container {
  margin-top: 10px;
  background: rgba(255,255,255,0.7);
  height: 161px;
}

.review-image-container {
  display: inline-block;
  float: left;
}

.review-image-container img {
  width: 150px;
  height: 161px;
  border: 1px solid #19C0C6;
}

.review-content-container {
}

.review-content-container span {
  padding-left: 10px;
}
/* Review end */

/* Top games */
.top-games-container {
  margin-top: 10px;
  height: 140px;
  background: rgba(255,255,255,0.7);
  height: 161px;
}

.top-games-image-container {
  display: inline-block;
  float: left;
  overflow: hidden;
}

.top-games-image-container img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 15px;
  border: 1px solid #19C0C6;
}

.top-games-content-container {
}

.top-games-content-container span {
  padding-left: 5px;
  margin-top: 65px;
  position: relative;
  margin-left: 5px;
  float: left;
}
/* Top games end */

/* Comments */
.coming-soon-container {
  margin-top: 10px;
  width: 250px;
}

.coming-soon-title {
  text-align: center;
  background: #19C0C6;
  padding: 10px;
  widows: 250px;
  color: #FFF;
}

.coming-soon-image-container {
  display: inline-block;
  float: left;
  overflow: hidden;
}

.coming-soon-image-container img {
  width: 250px;
  height: 250px;
}

.coming-soon-content-container {
  width: 250px;
  background: #FFF;
  padding: 5px;
  /*border-bottom: 1px solid #19C0C6;*/
}

.coming-soon-content-container i {
  color: #19C0C6;
}

.add-comment {
  background: #FFF;
  padding-top: 10px;
}

.comment-hr {
  border: 1px dotted #19C0C6;
  width: 250px;
  height: 1px;
  padding-top: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.coming-soon input {
  margin-left: 30px;
  padding-left: 5px;
  border: 1px solid #19C0C6;
  margin-bottom: 5px;
  width: 200px;
}

.coming-soon textarea {
  margin-left: 30px;
  padding-left: 5px;
  border: 1px solid #19C0C6;
  margin-bottom: 5px;
  width: 200px;
}

.coming-soon button {
  margin-left: 30px;
  padding-left: 5px;
  border: 1px solid #19C0C6;
  background: #19C0C6;
  color: #FFF;
  margin-bottom: 5px;
  width: 100px;
}
/* Comments end */

/* View */
.view-container {
  margin-top: 10px;
  background: rgba(255,255,255,0.7);
  
}

.view-image-container {
    text-align: center;
}

.view-image-container img {
  width: 350px;
  height: 350px;
  border: 1px solid #19C0C6;
  margin-top: 5px;
}

.view-content-container {
  text-align: center;
}

.view-content-container span {
  padding-left: 10px;
}

.view-article-content {
  padding: 5px 100px;
  text-align: center;
}
.view-comment {
  margin-left: 250px;
}

.users-comment {
  padding: 5px;
  background: #FFF;
  color: #000;
  width: 60%;
  height: auto;
  margin-bottom: 10px;
}

.users-comment i {
  color: #19C0C6;
}

.comment-form {
	border: 1px solid #19C0C6;
	width: 60%;
	padding: 5px;
	margin-top: 20px;	
}

.comment-form input {
	width: 50%;
	border: 1px solid #FFF;
	padding-left: 10px;
	margin-bottom: 5px;
}

.comment-form textarea {
	width: 50%;
	border: 1px solid #FFF;
	padding-left: 10px;
	margin-bottom: 5px;
}

.comment-form button {
	border: 1px solid #19C0C6;
	background: #19C0C6;
	color: #FFF;

}
/* Veiw end */

/* New article */
.new-article-container {
    background: #FFF;
}

.new-article-form {
    max-width: 500px;
    margin: 0 auto;
    background: #FFF;
    padding: 10px 0;
}

.new-article-form input {
    width: 400px;
    height: 30px;
    border: 1px solid #19C0C6;
    margin-bottom: 5px;
    padding: 5px;
}

input[type="file"] {
    border: none;
}

.new-article-form textarea {
    width: 400px;
    height: 30px;
    border: 1px solid #19C0C6;
    margin-bottom: 5px;
    padding: 5px;
    height: 100px;
}

.new-article-form button {
    background: #19C0C6;
    border: 1px solid #19C0C6;
    color: #FFF;
}
/* New article end */

/* Footer */
footer {
  text-align: center;
  background: #19C0C6;
  padding: 20px;
  color: #FFF;
  margin-top: 20px;
}
/* Footer end */