/* Body */
body {
  background-image: url("../images/bg.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* Body end */

/* Navbar */
.navbar-default {
  background-color: #000;
  border-color: #000;
  border-radius: 0px;
}

.navbar-header img {
  padding-top: 5px;
}

#signIn {
  background: #19C0C6;
  border-color: #19C0C6;
}

#popUp {
  background: rgba(255,255,255,0.8);
}

#popUp > a {
  background: #19C0C6;
  padding: 20px;
  color: #FFF;
}

.signing-form {
  max-width: 500px;
  margin: 0 auto;
}

.signing-form input {
  width: 300px;
  padding: 5px 10px;
  border: 1px solid #18B9BF;
  margin-bottom: 5px;
}
/* Navbar end */

/* Review */
.section-title {
  padding: 3px 0;
  border-bottom: 1px solid #000;
  color: #19C0C6;;
}

.review-container {
  margin-top: 10px;
  background: rgba(255,255,255,0.7);
  height: 161px;
}

.review-image-container {
  display: inline-block;
  float: left;
}

.review-image-container img {
  width: 150px;
  height: 161px;
}

.review-content-container {
}

.review-content-container span {
  padding-left: 10px;
}
/* Review end */

/* Top games */
.top-games-container {
  margin-top: 10px;
  height: 140px;
  background: rgba(255,255,255,0.7);
  height: 161px;
}

.top-games-image-container {
  display: inline-block;
  float: left;
  overflow: hidden;
}

.top-games-image-container img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 15px;
}

.top-games-content-container {
}

.top-games-content-container span {
  padding-left: 5px;
  margin-top: 65px;
  position: relative;
  margin-left: 5px;
  float: left;
}
/* Top games end */

/* Comments */
.comments-container {
  margin-top: 10px;
}

.comments-title {
  text-align: center;
  background: #19C0C6;
  padding: 10px;
  widows: 250px;
  color: #FFF;
}

.comments-image-container {
  display: inline-block;
  float: left;
  overflow: hidden;
}

.comments-image-container img {
  width: 250px;
  height: 250px;
}

.comments-content-container {
  width: 250px;
  background: #FFF;
  text-align: center;
  padding: 10px;
}
/* Comments end */

/* Footer */
footer {
  text-align: center;
  background: #19C0C6;
  padding: 20px;
  color: #FFF;
  margin-top: 20px;
}
/* Footer end */